* {
	font-family: 'Courier New', Courier, monospace;
	margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
li {
	display: inline-block;
}
ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
a:link, a:visited {
	background-color: white;
	color: black;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: black;
	color: white;
  }
body {
	background-color: rgb(255, 255, 255); 
}
h1 {
	text-align: center;
	padding: 20px;
	color: rgb(0, 0, 0);
}
h4 {
	text-align: center;
	padding-bottom: 30px;
	color: rgb(0, 0, 0);
}
p {
	color: rgb(0, 0, 0);
}